body {
    background-color: #ffc107;
}

h2 {
    font-family: 'Italiana', serif;
    font-weight: bold;
    font-size: 3rem;
}

main {
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffc107;
    text-align: center;
    border-radius: 12px;
    margin-top:10rem;
}